@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

html,
body {
  overflow-x: hidden;
  font-family: "Inter", "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

body {
  font-family: "Inter", "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}
body::selection {
  background-color: black;
  color: white; /* Optional: Set text color to white for better contrast */
}
